---
import { ViewTransitions } from 'astro:transitions';
import SpeedInsights from '@vercel/speed-insights/astro'
import type { SiteMeta } from '@/types'
import { siteConfig } from '@/site-config'
const isProd = import.meta.env.PROD

type Props = SiteMeta

const { articleDate, description, ogImage, title } = Astro.props

const titleSeparator = '•'
const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL(ogImage ? ogImage : '/images/witchprofile.png', Astro.url).href
// const { walineServerUrl } = siteConfig
---

<meta charset='utf-8' />
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{siteTitle}</title>

{/* Icons / Favicon */}
<link rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png' />
<link rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png' />
<link rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png' />
<link rel='manifest' href='/favicon/site.webmanifest' />
<!-- <link rel="preload" as="image" href="/images/avatar.png" /> -->

{/* Font preloads */}
<link rel='preload' href='/fonts/Satoshi-Variable.ttf' as='font' type='font/ttf' crossorigin />
<link
  rel='preload'
  href='/fonts/Satoshi-VariableItalic.ttf'
  as='font'
  type='font/ttf'
  crossorigin
/>

{/* Canonical URL */}
<link rel='canonical' href={canonicalURL} />

{/* Primary Meta Tags */}
<meta content={siteTitle} name='title' />
<meta content={description} name='description' />
<meta content={siteConfig.author} name='author' />

{/* Theme Color */}
<meta content='' name='theme-color' />

{/* Open Graph / Facebook */}
<meta content={articleDate ? 'article' : 'website'} property='og:type' />
<meta content={title} property='og:title' />
<meta content={description} property='og:description' />
<meta content={canonicalURL} property='og:url' />
<meta content={siteConfig.title} property='og:site_name' />
<meta content={siteConfig.ogLocale} property='og:locale' />
<meta content={socialImageURL} property='og:image' />
<meta content='1200' property='og:image:width' />
<meta content='630' property='og:image:height' />
{
  articleDate && (
    <>
      <meta content={siteConfig.author} property='article:author' />
      <meta content={articleDate} property='article:published_time' />
    </>
  )
}

{/* Twitter */}
<meta content='summary_large_image' property='twitter:card' />
<meta content={canonicalURL} property='twitter:url' />
<meta content={title} property='twitter:title' />
<meta content={description} property='twitter:description' />
<meta content={socialImageURL} property='twitter:image' />

{/* Telegram */}
<meta name='telegram:channel' content='.' />

{/* Sitemap */}
<link href='/sitemap-index.xml' rel='sitemap' />

{/* RSS auto-discovery */}
<link
  rel='alternate'
  type='application/rss+xml'
  title={siteConfig.title}
  href={`${Astro.site}rss.xml`}
/>

<meta content={Astro.generator} name='generator' />

{/* Styles */}
<link rel='stylesheet' href='/styles/global.css' />

{/* Transitions */}
<script>
  import type { TransitionBeforeSwapEvent } from 'astro:transitions/client'
  document.addEventListener('astro:before-swap', (e) =>
    [
      ...(e as TransitionBeforeSwapEvent).newDocument.head.querySelectorAll('link[as="font"]')
    ].forEach((link) => link.remove())
  )

  function animate() {
    document.querySelectorAll('.animate').forEach((el, i) => {
      setTimeout(() => {
        el.classList.add('show')
      }, i * 150)
    })
  }
  document.addEventListener('DOMContentLoaded', animate)
  document.addEventListener('astro:after-swap', animate)
</script>

{/* Vercel speed insights */}
{isProd && <SpeedInsights />}

{/* user script */}
{
  // isProd && (
  //   <script>
  //     console.log( 'https://witchhunted.win by witchhunted')
  //   </script>
  // )
}

<ViewTransitions />

<style>
.bc, .pc {
  transition: background-color 0.15s ease; /* Add smooth background transition */
}

.bc:hover {
  background-color: #659EB9;
  pointer-events: auto;
  user-select: none;
}

.pc:hover {
  background-color: #8E44AD;
  pointer-events: auto;
  user-select: none;
}

#custom-context-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.225s ease, visibility 0.225s ease;
  pointer-events: none; /* Prevents interaction when hidden */
}

#custom-context-menu.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@keyframes rotateBorder {
  100% {
    transform: rotate(1turn);
  }
}

#custom-context-menu.animated-border {
  /* z-index: 0; */
  overflow: hidden;
  border-radius: 1rem;
  /* Glow effect */
  filter: drop-shadow(0 0 3.5px #659EB9)
          drop-shadow(0 0 3.5px #8E44AD);
}

#custom-context-menu.animated-border::before {
  content: '';
  position: absolute;
  z-index: -2;
  /* left: -50%;
  top: -50%;
  width: 200%;
  height: 200%; */
  inset: -1000%;
  background-image: conic-gradient(from 0deg, #659EB9, #8E44AD, #659EB9);
  animation: spin 3s linear infinite;
  border-radius: 50%;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#custom-context-menu.animated-border::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 4px;
  top: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background: rgba(11,11,16,0.5);
  border-radius: 0.875rem;
}
</style>

<div id="custom-context-menu" class="animated-border fixed shadow-lg p-1 z-50" style="background: rgba(11,11,16,0.5);; border-radius: 1rem;">
  <ul>
    <!-- <li style="border-radius: 1rem;"class="bc px-4 py-2 hover:bg-blue-500 cursor-pointer rounded" onclick="if(window.audioInstance){ window.audioInstance.pause(); window.audioInstance.currentTime = 0; sessionStorage.setItem('isPlaying', 'false'); } location.reload();">⚙️ Refresh</li> -->
    <li id="toggleCursorTrail" style="border-radius: 1rem;" class="bc px-4 py-2 hover:bg--500 cursor-pointer rounded">✔️ Cursortrail</li>
    <li id="toggleHitsound" style="border-radius: 1rem;" class="bc px-4 py-2 hover:bg--500 cursor-pointer rounded">❌ Hitsound</li>
    <hr style="margin: 10px 19px; border-color: #ccc;" />
    <li id="playPauseBtn" style="border-radius: 1rem;" class="pc px-4 py-2 hover:bg-blue-500 cursor-pointer rounded">
      🎶 Play Music
    </li>
    <li id="restartBtn" style="border-radius: 1rem;" class="bc px-4 py-2 hover:bg--500 cursor-pointer rounded">🔄 Restart</li>
    <li id="loopToggleBtn" style="border-radius: 1rem;" class="pc px-4 py-2 hover:bg-blue-500 cursor-pointer rounded">
      ❌ Loop Music
    </li>
    <li id="playbackToggleBtn" class="bc px-4 py-2 hover:bg--500 cursor-pointer rounded">
      ▶️ NoMod
    </li>
    <li id="volumeUpBtn" style="border-radius: 1rem;" class="pc px-4 py-2 hover:bg--500 cursor-pointer rounded">🔊 Increase Volume</li>
    <li id="volumeDownBtn" style="border-radius: 1rem;" class="bc px-4 py-2 hover:bg--500 cursor-pointer rounded">🔉 Decrease Volume</li>
    <hr style="margin: 10px 19px; border-color: #ccc;" />
    <li id="creditsBtn" style="border-radius: 1rem;" class="pc px-4 py-2 hover:bg--500 cursor-pointer rounded">❤️ by witchhunted</li>
  </ul>
</div>